dash==2.15.0
dash_bootstrap_components==1.4.1
dash_daq==0.5.0
ibm-cloud-sdk-core==3.16.7
jproperties==2.1.1
markdownify==0.14.1
pandas==2.0.3
numpy==1.23.5
python-dotenv==1.0.0
requests==2.32.4
furl==2.1.3